h1{
    color: red;
    background-color: aquamarine;
    margin: 20px;
    font-style: italic;

}

h2 {
    color: rgb(25, 0, 255);
    background-color: greenyellow;
    padding: 50px;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}

#my-image {
    border: 2px red solid;
}